main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1000px) 1fr;
}

main section {
  grid-column: 2/3;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.portraet1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}
video {
  width: 100%;
  object-fit: cover;
  grid-template-columns: 1fr minmax(0, 1000px) 1fr;
  padding-top: 2rem;
}

.youtube {
  width: 100%;
  object-fit: cover;
  grid-template-columns: 1fr minmax(0, 1000px) 1fr;
  padding-top: 2rem;
}

body {
  overflow-x: hidden;
  font-family: "PT Sans", sans-serif;
  background-color: rgb(209, 208, 205);
}

h1 {
  font-size: 25px;
  font-family: "PT Sans", sans-serif;
  color: white;
  /* margin: 200px; */
}

p {
  color: white;
  font-family: "PT Sans", sans-serif;
  /* margin: 200px; */
}

#nav_wrapper {
  display: inline;
  gap: 0.5px;
  justify-content: center;
}

header {
  position: sticky;
  top: 0;
  gap: 2px;
}

nav {
  background-color: rgb(109, 97, 97);
}

nav li {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: white;
  font-size: bold;
}
